/* 1. Importação ÚNICA das Fontes */
@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;600;700&family=Imperial+Script&family=Inter:wght@400;600;700&display=swap');

/* 2. Carrega o Tailwind v4 */
@import "tailwindcss";

/* 3. Configuração do Design System (Theme) */
@theme {
    /* Definição de Cores - Gera automaticamente bg-primary, text-primary, etc */
    --color-primary: #6B0606;
    --color-secondary: #DFBFA8;
    --color-footer: #F3E2D5;
    --color-white: #FFFFFF;

    /* Definição de Fontes - Gera font-inet, font-abhaya, etc */
    --font-inet: "Inter", sans-serif;
    --font-abhaya: "Abhaya Libre", serif;
    --font-imperial: "Imperial Script", cursive;
}
@layer utilities {
    .animate-marquee {
        display: flex;
        white-space: nowrap;
        animation: marquee 30s linear infinite;
    }

    /* Pausa a animação quando passa o mouse (opcional, fica muito bom) */
    .animate-marquee:hover {
        animation-play-state: paused;
    }
}

@keyframes marquee {
    0% {
        transform: translateX(0%);
    }

    100% {
        /* Move para a esquerda até acabar o conteúdo */
        transform: translateX(-100%);
    }
}